


<h1>My First Rails Girls</h1>
  <div>
    <h2>What is rails girls</h2>
    <div>
      <p>"Rails Girls is company that is working on education people to know how to use some programes to make their own sites,blogs, games and others."</p>
      <p>"There is no limited age to learn about programing and how to use programes to make your own sites and change alredy made ones for your work or just for fun."</p>
      <img src="http://www.news.cornell.edu/sites/chronicle.cornell/files/girlsCode.jpg" />
    </div>

    <h2>Where you can finde us?</h2>
      <p>You can finde our companu in capital city of Serbia, Belgrade is Street Savska 5.</p>
      <a href="http://railsgirls.com/">Visit our offical site for more informations about our company</a>
    <div>
 
    <h2>Find me</h2>

    <a href="https://www.facebook.com/profile.php?id=100006143977591">Facebook</a>
    <div>

      <a href="https://www.instagram.com/_djurdjevicka_/">Instagram</a>
    <div>

      <a href="https://mail.google.com/mail/u/0/#inbox">Send me an email</a>
  </div>

